$tribune-yellow: rgb(255, 204, 32);
$bodytext-black: rgb(34, 34, 34);
$menubar-gray: rgb(68, 68, 68);
$menubar-accent-gray: rgb(102, 102, 102);
$href-teal: rgb(0, 137, 144);
$border-gray: rgb(204, 204, 204);
$copywrite-gray: rgb(170, 170, 170);
$footer-white: rgb(255, 255, 255);
$footer-separator-white: rgb(238, 238, 238);
