.map {
  border-bottom: .125em solid rgba(0, 0, 0, .1);
  height: 15.625em;
  position: fixed;
  top: 69px;
  width: 100%;

  @include susy-media($mobile-breakpoint) {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 5.75em;
  }
}

$category1: rgb(215, 25, 28);
$category2: rgb(253, 174, 97);
$category3: rgb(255, 255, 191);
$category4: rgb(171, 217, 233);
$category5: rgb(44, 123, 182);

.marker {
  stroke: $bodytext-black;

  &-cat1 {
    background-color: $category1;
    fill: $category1;
  }

  &-cat2 {
    background-color: $category2;
    fill: $category2;
  }

  &-cat3 {
    background-color: $category3;
    fill: $category3;
  }

  &-cat4 {
    background-color: $category4;
    fill: $category4;
  }

  &-cat5 {
    background-color: $category5;
    fill: $category5;
  }
}

.legend {
  @include clearfix;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  &-mobile {
    margin-bottom: 1em;
    padding: 0 1.25em;

    @include susy-media($mobile-breakpoint) {
      display: none;
    }

    @include susy-media($mobile-breakpoint $tablet-breakpoint) {
      display: block;
    }
  }

  &-desktop {
    background-color: rgba(255, 255, 255, .9);
    bottom: 2.125em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: none;
    padding: 1em;
    position: absolute;
    right: 1.25em;

    @include susy-media($mobile-breakpoint) {
      display: block;
    }

    @include susy-media($mobile-breakpoint $tablet-breakpoint) {
      display: none;
    }
  }


  h4 {
    font-size: .875em;
    font-weight: 300;
    margin-bottom: .357142857em;
  }

  span {
    height: 10px;
    margin-bottom: .25em;

    @include susy-media($mobile-breakpoint) {
      height: 10px;
    }
  }

  li,
  span {
    display: block;
    float: left;
    font-size: .625em;
    letter-spacing: .03em;
    text-align: center;
    width: 20%;
  }
}
